*
{
    margin:0px;
    padding:0px;
    font-weight:bold;
    font-size:30px;
}
body
{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.container
{
    border-radius:10px;
    background-color:#aaa;
    height:600px;
    width:450px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    flex-shrink:1;
    border:3px solid #333;
}
.display
{
    border-radius:10px;
    margin-top:30px;
    background-color:white;
    width:400px;
    flex:1;
    display:flex;
    align-items: end;
    justify-content: end;
    border:3px solid #333;
}
.displayText
{
    padding-right:10px;
    padding-bottom:10px;
    color:black;
    font-size:50px;
   
}
.numberArea
{
    /* background-color:pink; */
    width:400px;
    display:flex;
    flex:5;
    flex-wrap:wrap;
    flex-direction:column;
    gap:0px;
    justify-content:space-around;
   
}
button
{
    /* background-color:green; */
    height:60px;
    width:70px;
    border-radius:10px;
    border-style: none;
    border:3px solid #333;
}
button:hover
{
    background-color:#ddd;
}
button:active
{
    background-color:#ccc;
}
#clear
{
    background-color: #faa;
}
#clear:hover
{
    background-color: #e99;
}
#clear:active
{
    background-color:#d88;
}
#delete
{
    background-color: #aaf;
}
#delete:hover
{
    background-color:#99e;
}
#delete:active
{
    background-color:#88d;
}
#clear,#delete
{
    width:180px;
    height:60px;
}

.firstRow,.secondRow,.thirdRow,.fourthRow,.fifthRow
{ 
    display:flex;
    justify-content: space-between;

}

